
	<h4>
		Comment Dis Blogging
	</h4>
	<%= form_for [ @article, @comment] do |f| %>
	<p><%= f.text_field :author_name %></p>
	<p> <%= f.label :author_name, "^^your name" %> </p><br>
	<p><%= f.text_field :body %></p>
<p> <%= f.label :body, "^^your comment" %> </p><br>
	

	<button><%= f.submit %></button>
<% end %>
